body {
    margin: 0;
}

main {
    margin: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    background: rebeccapurple;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 12px 12px;
    cursor: pointer;
    vertical-align: middle;
}